*.vscode
*.bat
*.code-workspace 
Iz's Addon Filter Public Version (sections)/a. Header.txt
Iz's Addon Filter Public Version (sections)/e. Specific Ads Rules.txt
Iz's Addon Filter Public Version (sections)/g. General Rules.txt
Iz's Addon Filter Public Version (sections)/h. Anti ad block detect.txt
Iz's Addon Filter Public Version (sections)/j. Cookies.txt
Iz's Addon Filter Public Version (sections)/d. Ad Server Links.txt
